@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Square+Peg&display=swap');

body {

  background-image: url(../src/assets/About/backgroundImg.jpg);
  opacity: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  margin: 4%;
  max-width: 90%;
  padding: 0px 10px;
  
}

.about {
  width: 40%;

}

.intro {
  font-size: 22px;
  font-weight: 600;
}

.container {
  justify-content: center;
  position: relative;
}
/* FORM START */
.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
  box-shadow: 0 0 0 2px gold;
  border: none;
  color: gold;
}

.formInput:focus {
  background-color: red;
  outline: none;
  box-shadow: 0 0 0 2px GOLD;
  color: goldenrod;
}

.formInput::placeholder {
  color: gold;
  opacity: 1;
}

.formInput:focus::placeholder {
  color: goldenrod;
  opacity: 1;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#notifyToast {
  color: #fff;
  border-radius: 6px;
  width: 200px;
  margin-left: 75px;
  background-color: gold;
}

.submit-btn {
  background-color:'' ;
  color: goldenrod !important;
  padding: 15px 50px;
  border: 2px solid gold;
  border-radius: 10px;
  margin-bottom: 25px;
}

.submit-btn:hover {
  background-color: orange;
  border: 2px solid GOLD;
}

.submit-btn:disabled:hover {
  background-color: var(--dark);
  color: gold !important;
  cursor: wait;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}
/* FORM END */
h1 {
  font-family: 'Square Peg', cursive;
  color: Gold;

}

p {
  color: gold;
  font-size: 19px;
  font-family: 'Abel', sans-serif;
}

/* hfres */
a:link {
  text-decoration: none;
}

a:visited {

  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.card {
  width: 25%;
  text-align: center;
  margin: 25px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.hero {
  border-width: 2px;
  border-color: gold;
  border-bottom-style: solid;
  color: gold;

}

header {
  margin-left: 5%;
  margin-right: 5%;
}
